.para{
    color: black;
}
.App{
    margin-left: 30%;
}
.butt{
    background-color: olivedrab;
    width: 10%;
    padding: 7px 13px;
    color: aliceblue;
}
.Sec{
    margin-top: 5%;
}
/* .sec-butt{
    background-color: olivedrab;
    width: -30%;
    color: aliceblue;
} */
.first-ans{
    color: grey;
}